
nav {
  color: blue;
  border: 1px;
  border-style: solid;
  background-color: yellow;
}
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 17px;
    line-height: 1.5;
  }
}

a {
  color: #52d3aa;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #52d3aa;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

p.important {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

header {
align-items: center;
}

nav {
  
  margin-left: 20pt;
}

nav p {
  text-align: left;
  line-height: 1pt;
}

section h1 {
  margin-top: 40pt;
  text-align: center;
}

article {
  border: 1px;
}

article header {
  font-style: italic;
}

article p {
  margin-left: 20pt;
}

aside {
  display: inline-block;
  width: 40%;
}

aside h2 {
  
}

.quotation p {
  font-style: italic;
}


